.book{
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    color: black;
    border-color: black;
    font-size: large;

}

.library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));/* kevin powell */
    font-size: large;
}